## Assignment 16th Feb MySQL

### Q1. What is a database? Differentiate between SQL and NoSQL databases.

A database is a structured collection of data that is organized, stored, and managed for efficient retrieval and modification

SQL (Structured Query Language) and NoSQL (Not Only SQL) are two different types of database management systems that differ in their data models, query languages, and design principles.

SQL databases are based on the relational model, use SQL as the query language, and are good for structured data with complex relationships and transactions.
While NoSQL databases use various data models, prioritize scalability and flexibility, and are suitable for handling unstructured or rapidly changing data.

### Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

DDL stands for Data Definition Language. It is a subset of SQL (Structured Query Language) used for defining and managing the structure of a database schema. DDL statements are used to create, modify, and delete database objects such as tables, indexes, views, and constraints.

1) CREATE: The CREATE statement is used to create new database objects. 
2) DROP: The DROP statement is used to remove an existing database object.
3) ALTER: The ALTER statement is used to modify the structure of an existing database object. It allows you to add, modify, or delete columns, constraints, or indexes. 
4) TRUNCATE: The TRUNCATE statement is used to remove all data from a table, but it keeps the table structure intact. It is faster than deleting each row individually.

CREATE TABLE students( ID INT PRIMARY KEY, Name VARCHAR(40), Email VARCHAR(50));
DROP TABLE students;
ALTER TABLE students ADD phone_no INT(8);
TRUNCATE TABLE students;

### Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.

DML stands for Data Manipulation Language. It is a subset of SQL (Structured Query Language) used for manipulating and managing data within a database. DML statements are used to insert, update, and delete data in database tables.

1) INSERT: The INSERT statement is used to add new data into a table. It allows you to specify the columns and their corresponding values for the new row.
2) UPDATE: The UPDATE statement is used to modify existing data in a table. It allows you to change the values of specific columns for one or more rows based on certain conditions.
3) DELETE: The DELETE statement is used to remove data from a table. It allows you to delete one or more rows based on specified conditions.

INSERT INTO students (ID, Name, Email) VALUES (1, 'Dimpal Chambariya', 'pateldimpal129@gmail.com');
UPDATE students SET Email = 'pateldimpal@gmail.com' WHERE ID = 1;
DELETE FROM students WHERE ID = 1;

### Q4. What is DQL? Explain SELECT with an example.

DQL stands for Data Query Language. It is a subset of SQL (Structured Query Language) used for retrieving and querying data from a database. DQL statements primarily consist of SELECT queries, which allow you to retrieve specific data from one or more tables based on specified conditions.

1) SELECT: The SELECT statement is used to retrieve data from one or more tables in a database. It allows you to specify the columns you want to retrieve and apply conditions to filter the data. The SELECT statement can also perform calculations, aggregate functions, and join tables for more complex queries.

SELECT column1, column2 FROM table_name;
SELECT Name, Salary FROM Employees WHERE Department = 'Sales';

### Q5. Explain Primary Key and Foreign Key.

Primary Key:
A Primary Key is a column or a combination of columns in a table that uniquely identifies each row in the table. It provides a way to uniquely identify and distinguish one record from another. The primary key must have the following characteristics:

Foreign Key: A Foreign Key is a column or a combination of columns in a table that establishes a link or relationship between two tables. It references the primary key of another table, creating a connection between the two tables. The foreign key enforces referential integrity and maintains consistency between related tables.

### Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.

In [ ]:
import mysql.connector

mydb = mysql.connector.connect(
    host="localhost",
    user="abc",
    password="password",
    database="db1"
)

cursor = mydb.cursor()

query = "SELECT * FROM students"
cursor.execute(query)

results = cursor.fetchall()

for row in results:
    print(row)

cursor.close()
mydb.close()

To connect MySQL to Python, use the mysql-connector-python library.
The cursor() method creates a cursor object to interact with the database.
The execute() method is used to execute SQL queries or statements.

### Q7. Give the order of execution of SQL clauses in an SQL query.

The order of execution of SQL clauses in an SQL query is as follows:

FROM: The FROM clause specifies the table(s) from which the data will be retrieved.
WHERE: The WHERE clause filters the data based on specified conditions.
GROUP BY: The GROUP BY clause groups the data based on specified columns.
HAVING: The HAVING clause filters the grouped data based on specified conditions.
SELECT: The SELECT clause selects the columns to be included in the result set.
DISTINCT: The DISTINCT clause removes duplicate rows from the result set.
ORDER BY: The ORDER BY clause sorts the result set based on specified columns.
LIMIT: The LIMIT clause limits the number of rows returned in the result set.