# Assignment (Pandas Basic)

### Q1. Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series.

In [3]:
import numpy as np
import pandas as pd 
data=([4,8,15,16,23,42])
ser=pd.Series(data)
print(ser)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

### Q2. Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the variable print it.

In [5]:
data=[1,2,3,"dimpal",5,6,"hi","7",7,8,9]
ser1=pd.Series(data)
print(ser1)

0          1
1          2
2          3
3     dimpal
4          5
5          6
6         hi
7          7
8          7
9          8
10         9
dtype: object

### Q3. Create a Pandas DataFrame that contains the following data: Then, print the DataFrame.

In [19]:
data=[["Alice",25,"Female"],["Bob",30,"Male"],["Claire",27,"Female"]]
df=pd.DataFrame(data,columns=['Name','Age','Gender'])
print(df)

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

### Q4. What is ‘DataFrame’ in pandas and how is it different from pandas.series? Explain with an example.

DataFrame in python is just like a table.It is a two dimensional or we can say two dimensional array.
whereas series is one dimensional.
In dataframe we can have multiple columns but in series we only have one column containing different data types.

For example,

In [23]:
data=[["Dinesh","pass"],["Ramesh","fail"],["Ram","pass"]]
df1=pd.DataFrame(data,columns=['Name','Result'])
print(df)

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

In [25]:
type(df1)

pandas.core.frame.DataFrame

In [27]:
df1['Name']
type(df1['Name'])

pandas.core.series.Series

### Q5. What are some common functions you can use to manipulate data in a Pandas DataFrame? Can you give an example of when you might use one of these functions?

There are some function like sort_values, dropna, fillna etc. 
We can use this function when our data is too noisy or some missing values are in there then we use this to make our data more informative and less redundant.

### Q6. Which of the following is mutable in nature Series, DataFrame, Panel?

All three are mutable in nature.

### Q7. Create a DataFrame using multiple Series. Explain with an example.

In [47]:
enr_no=pd.Series([1,2,3,4,5],name="enr_no")
name=pd.Series(["ram","sam","het","hit","ret"],name="name")
result=pd.Series(["pass","pass","fail","pass","pass"],name="result")
df3=pd.concat([enr_no,name,result],axis=1)
print(df3)

   enr_no name result
0       1  ram   pass
1       2  sam   pass
2       3  het   fail
3       4  hit   pass
4       5  ret   pass